@import "~antd/dist/antd.css";

body {
  background-color: aliceblue;
}
.App {
  text-align: center;
}

.App h1 {
  font-family: "Garamond", "Arial", sans-serif;
  letter-spacing: 0.01in;
  font-weight: 300;
  font-size: 3.75rem;
  color: rgb(8, 73, 75);
}
